@model DashboardModel
@{
    ViewData["Title"] = "Dashboard Demo";
    string typeDesc = Model.Type == "pres" ? "Presidential Emergency" : "US Secretary of Agriculture";
}

<div class="row">
    <div class="col-12">
        <div class="card bg-dark">
            <div class="card-header text-center map-heading">
                <div>
                    <h5>Interactive map using crop, disaster designation, and USFS fire occurance data from USDA at the state/county level.</h5>
                </div>
            </div>

            <div class="map-details text-center">
                <a style="margin:5px;" href="/Home/DashboardDemo?year=@Model.Year&type=ussec" class="@(Model.Type == "ussec" ? "btn btn-success btn-sm m-2 btn-MapSelected" : "btn btn-success btn-sm m-2")">US Secretary of Agriculture</a>
                <a style="margin:5px;" href="/Home/DashboardDemo?year=@Model.Year&type=pres" class="@(Model.Type == "pres" ? "btn btn-success btn-sm m-2 btn-MapSelected" : "btn btn-success btn-sm m-2")" aria-current="page">Presidential Emergency Declarations</a>
            </div>
            <div class="map-details">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="@(Model.Year == "2021" ? "nav-link active" : "nav-link my-text-hover-bolder")"
                           href="/Home/DashboardDemo?year=2021&type=@Model.Type" tabindex="-1" aria-disabled="@(@Model.Year == "2021" ? true : false)">2021</a>
                    </li>
                    <li class="nav-item">
                        <a class="@(Model.Year == "2022" ? "nav-link active" : "nav-link my-text-hover-bolder")"
                           href="/Home/DashboardDemo?year=2022&type=@Model.Type" tabindex="-1" aria-disabled="@(@Model.Year == "2022" ? true : false)">2022</a>
                    </li>
                    <li class="nav-item">
                        <a class="@(Model.Year == "2023" ? "nav-link active" : "nav-link my-text-hover-bolder")"
                           href="/Home/DashboardDemo?year=2023&type=@Model.Type" tabindex="-1" aria-disabled="@(@Model.Year == "2023" ? true : false)">2023</a>
                    </li>
                    <li class="nav-item">
                        <a class="@(Model.Year == "2024" ? "nav-link active" : "nav-link my-text-hover-bolder")"
                           href="/Home/DashboardDemo?year=2024&type=@Model.Type" tabindex="-1" aria-disabled="@(@Model.Year == "2024" ? true : false)">2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="@(Model.Year == "2025" ? "nav-link active" : "nav-link my-text-hover-bolder")"
                           href="/Home/DashboardDemo?year=2025&type=@Model.Type" tabindex="-1" aria-disabled="@(@Model.Year == "2025" ? true : false)">2025</a>
                    </li>
                </ul>
            </div>
            <div class="card-body bg-dark">
                <div id="map" style="height:600px;"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="map-detail-list">
                        <ul>
                            <li>Use the layer option to toggle between state/county level details or change the base layer.</li>
                            <li>Use Presidential Emergency Declarations/US Secretary of Ag buttons to toggle data in map.</li>
                            <li>Click on the states/counties to see details. <b>Note:</b> Defaults to county as the primary layer, use layer option to toggle.</li>
                            <li>Use the year links to update the map year data set.</li>
                            <li>Points represent ignition or origin from which the individual USFS wildland fires started by year. <b>Note:</b> Until full dataset is out for year 2025, the 2024 data will show when 2025 year is selected. </li>
                            <li>
                                Data sources used to create GeoJson for map:
                                <ul>
                                    <li>
                                        <a target="_blank" href="https://www.fsa.usda.gov/resources/disaster-assistance-program/disaster-designation-information">
                                            USDA Disaster Designation Information
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://quickstats.nass.usda.gov/">
                                            USDA Quick Stats Census
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://catalog.data.gov/dataset/national-usfs-fire-occurrence-point-feature-layer-d3233">
                                            National USFS Fire Occurrence Point
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <div class="col-12">
        <div class="card bg-dark">
            <div class="card-header text-center map-heading">
                <h5>Yearly US Secretary of Agriculture and Presidential Emergency Declarations.</h5>
            </div>
            <div class="card-body">
                <div style="width:100%;min-height:325px;"><canvas id="myLineChart"></canvas></div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:10px;">
    <div class="col-lg-6" style="padding-top:10px;">
        <div class="card bg-dark">
            <div class="card-header text-center map-heading">
                <h5>US Sec of Ag Disaster Declarations</h5>
            </div>
            <div class="card-body">
                <div style="width:100%;min-height:500px;"><canvas id="myChart"></canvas></div>
                <div class="text-center"><span style="font-size:12px;">*Note: Storms can be tornadoes, hail, flooding, landslides, etc.</span></div>
                <div class="text-center"><span style="font-size:12px;">*Winter: Storms can be snow, freeze, frost, ice, etc.</span></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="padding-top:10px;">
        <div class="card bg-dark">
            <div class="card-header text-center map-heading">
                <h5>Presidential Emergency Declarations</h5>
            </div>
            <div class="card-body">
                <div style="width:100%;min-height:500px;"><canvas id="myChart2"></canvas></div>
                <div class="text-center"><span style="font-size:12px;">*Note: Storms can be tornadoes, hail, flooding, landslides, etc.</span></div>
                <div class="text-center"><span style="font-size:12px;">*Winter: Storms can be snow, freeze, frost, ice, etc.</span></div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="padding-top:20px;">
    <div class="col-12">
        <b>NOTE:</b> I developed this application utilizing technologies including ASP.NET Core, C#, JavaScript, HTML, Bootstrap
        , CSS, Chart.js, Leaflet, GeoJSON, Azure Cloud for hosting and DevOps, CI/CD, and more.
    </div>
</div>




<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/lib/JavaScript/DashboardDemo.js?v=6.1"></script>

<script type="text/javascript">
    $(document).ready(function () {
    var year = '@Model.Year';
    var type = '@Model.Type';
    var typeDesc = '@typeDesc';
    var disasterInt = '@Model.Interval';

    GetMapData(year, type, typeDesc, disasterInt);
    SetChartVisuals(year, type, typeDesc, disasterInt);

    });
</script>